<!--<div class="col-md-3 column">
    <img src="https://media.licdn.com/media/p/5/005/0b4/2e4/1aa6cbc.jpg" height="100" width="100" />
</div>-->
    <div class="row clearfix">
        <div class="col-md-3 column">
            <img src="https://media.licdn.com/media/p/5/005/0b4/2e4/1aa6cbc.jpg" height="100" width="100"/>
            <p>
                Tre Davis
            </p>
        </div>
        <div class="col-md-3 column">
            <img src="https://scontent-lax.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/532106_3627764886276_943995724_n.jpg?oh=aa2c91c1543719663e544a07a3876c2d&oe=55B1B322" height="100" width="100" />
            <p>
                Darrett Woon
            </p>
        </div>
        <div class="col-md-3 column">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/000/078/167/2a5621c.jpg" height="100" width="100"/>
            <p>
                Brandon Goo
            </p>
        </div>
        <div class="col-md-3 column">
            <p>HR Director</p>
            <img src="http://images.clipartpanda.com/penguin-clip-art-RTAKKdyTL.png" height="100" width="100"/>
            <p>
                Happy Penguin
            </p>
        </div>
    </div>
